
.main_menu{
    display:flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 25px;
}

.main_menu-wrapper {
    margin: 1rem auto;
    width: 30%; /* スマホ：380px */
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,.2);
  }

.card {
    background-color: #fff;
    box-shadow: 0 0 0px rgba(0, 0, 0, .16);
    color: #212121;
    text-decoration: none;
}
.card_title{
    padding: 1rem 1.5rem 0;
    font-size: 1.6rem;
    order: 1;
    font-weight: bold;
    text-decoration: none;
    border-bottom: solid 3px black;
}
.card_thumbnail {
    margin: 0;
    order: 0;
}
.card_image {
    width:100%;
}
.card_body{
    padding: 0 1.5rem;
}
.card_text {
    font-size: .8rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

