
//変数
$pc:600;
$smart:599px;

//関数
@mixin sp(){
    @media screen and (max-width:$smart){
        @content;
    }
}


/* ALL */

.logo{
    width: 100px;
    height: 100px;
    background: #ffb6c1;
    margin:0;
    /* line-height:50px; */
    float:left;
    &_footer{
        width: 200px;
        height: 200px;
        background: #ffb6c1;
        margin-left:20px;
        /* line-height:50px; */
        float:left;
        @include sp(){
            width: 100px;
            height: 100px;
        }
    }
  }
  
  ul {
      list-style: none;
    }
  
  /* header */
  
  
  .header{
    height:100px;
    background:#00DAFC;
    color:#fff;
    width:100%;
    margin-bottom: 25px;
    @include sp(){
        margin-bottom: 5px;
    }
    &_form{
        display: flex;
        justify-content:space-around;
        flex-wrap: wrap;
        @include sp(){
            display: none;
        }
    }
    &_menu{
        list-style:none;
        float:left;
        text-align: right;
        li{
            display:inline-block;
            text-align: right;
            @include sp(){
                display: none;
            }
            a{
                display:inline-block;
                margin-top: 20px;
                padding:3px 15px;
                color:inherit;
                text-decoration:none;
                text-align: right;
            }
        }
    }
  }

  
.fixed-top{
    position:fixed;
    top:0;
    z-index:10000;
}


.switch{
    display: none;
}

@include sp(){
/*　ハンバーガーボタン　*/

.switch{
    display: inline;
}

.hamburger {
    display : block;
    position: fixed;
    z-index : 3;
    right : 13px;
    top   : 12px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }
  
  /* ナビ開いてる時のボタン */
  .hamburger.active {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition     : all 0.3s ease-in-out;
    transition        : all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay     : 0.6s;
    transition-delay        : 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform    : rotate(45deg);
    -o-transform     : rotate(45deg);
    transform        : rotate(45deg);
  }
  .hamburger.active span:nth-child(2){
    width: 0px;
  }
  .hamburger.active span:nth-child(1),
  .hamburger.active span:nth-child(3){
    background :#fff;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  .hamburger.active span:nth-child(1){
    -webkit-transform: translateY(4px);
    -ms-transform    : translateY(4px);
    -o-transform     : translateY(4px);
    transform        : translateY(4px);
  }
  
  .hamburger.active span:nth-child(3){
    -webkit-transform: translateY(-16px) rotate(90deg);
    -ms-transform: translateY(-16px) rotate(90deg);
    -o-transform : translateY(-16px) rotate(90deg);
    transform    : translateY(-16px) rotate(90deg);
  }
  
  
  nav.globalMenuSp {
    position: fixed;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #fff;
    background: rgba(0,0,0,0.7);
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
  }
  
  nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  
  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
  }
  nav.globalMenuSp ul li:hover{
    background :#ddd;
  }
  
  nav.globalMenuSp ul li a {
    display: block;
    color: #fff;
    padding: 1em 0;
    text-decoration :none;
  }
  
  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    opacity: 100;
  
  }
}


  /* main */
  /* パンくずリスト */
.breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 25px;
    li {
        display: inline;/*横に並ぶように*/
        list-style: none;
        font-weight: bold;/*太字*/
        &:after {/* >を表示*/
            content: '>';
            padding: 0 0.2em;
            color: #555;
        }
        &:last-child:after {
            content: '';
        }
        a {
            text-decoration: none;
            color: #52b5ee;/*色*/
            &:hover {
                text-decoration: underline;
            }
        }
    }  

}
  /* メニュー */

.main_menu{
    display:flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 25px;
    &-wrapper {
        margin: 1rem auto;
        width: 30%; /* スマホ：380px */
        @include sp(){
            width:100%;
        }
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 4px 15px rgba(0,0,0,.2);
    }
}



.card {
    background-color: #fff;
    box-shadow: 0 0 0px rgba(0, 0, 0, .16);
    color: #212121;
    text-decoration: none;
    &_title{
        padding: 1rem 1.5rem 0;
        font-size: 1.6rem;
        order: 1;
        font-weight: bold;
        text-decoration: none;
        border-bottom: solid 3px black;
    }
    &_thumbnail {
        margin: 0;
        order: 0;
    }
    &_image {
        width:100%;
    }
    &_body{
        padding: 0 1.5rem;
    }
    &_text {
        font-size: .8rem;
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
}

.hide-area{
    @include sp(){
        display: none;
    }
}
  
  /* リンク集 */
  
.main_link{
    padding-top: 25px;
    margin-bottom: 25px;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    &-contents{
        height: 8rem;
        width: 34%;
        @include sp(){
            width: 100%;
        }
        text-align:center;
        vertical-align: middle;
    }
}
  
  
  
a.btn{
    font-size: 1.0rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
    &-flat {
        overflow: hidden;
        padding: 1.5rem 6rem;
        color: #fff;
        border-radius: 0;
        background: #000;
        span {
            position: relative;
        }
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
            -webkit-transform: translateX(-96%);
            transform: translateX(-96%);
            background: #eb6877;
        }
        &:hover:before {
            -webkit-transform: translateX(0%);
            transform: translateX(0%);
        }
    }
}

.hide-link{
    display: none;
}

.modaal-close:after, 
.modaal-close:before{
	background:#ccc;	
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background:#666;
}
  
.main_access{
    margin-top: 25px;
    display: flex;
    @include sp(){
        flex-wrap: wrap;
    }
    &-mapsize{
        padding:50px;
        width:400px;
        height:300px;
        @include sp(){
            display: none;
        }
    }
    &-address{
        margin-top: 50px;
        margin-left: 100px;
        @include sp(){
            display: none;
        }
    }
      
}


  
  /* フッター */
  
  
footer {
    background: #222;
    nav{
        @include sp(){
            display:none;
        }
        a {
            display: block;
            color: #ccc;
        }
        .title {
            display: block;
            margin: 30px 0 6px;
            font-size: 12px;
            font-weight: bold;
            color: #ccc;
            &:first-child {
                margin-top: 0;
            }
            +.title {
                margin-top: 10px;
            }
        }
        ul {
            display: block;
            font-size: 12px;
            line-height: 2;
        }
        li {
            display: block;
            font-size: 12px;
            line-height: 2;
            &:first-child {
                margin-top: 0;
            }
            &ul {
                margin: 0 0 0 2em;
            }
            &li {
                position: relative;
                &:before {
                    position: absolute;
                    top: 50%;
                    left: -10px;
                    content: "";
                    display: block;
                    width: 4px;
                    height: 1px;
                    background-color: #fff;
                }
            }
        }
    }
        
}



.footer_info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 0;
    &-wrapper {
        display: block;
        width: calc(100% / 4);
    }
}

.footer_menu{
    margin-left: 17%;
    margin-bottom: 20px;
    @include sp(){
        margin-left: 35%;
    }
    &-list{
    color: #fff;
    list-style:none;
    li{
        display:inline-block;
            a{
                display:inline-block;
                margin-top: 20px;
                padding:3px 15px;
                color:inherit;
                text-decoration:none;
            }
        
        }
    }
}

.copyright{
    color: #ccc;
    text-align: center;
}


